.login__footer {
    width: 100%;
    height: 127.15px;
    display: flex;
    flex-direction: column; 
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.login__footer a {
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
}
.login__footer a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 425px) {
    .login__footer {
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        margin: auto 0;
    }
    .login__footer a {
        font-size: 1rem;
    }
}