/*** Estilos Importados ***/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url(./header.css);
@import url(./search-input.css);
@import url(./carousel.css);
@import url(./main-footer.css);
$primary-font: 'Montserrat', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: $primary-font;
}

body {
    /* background: #8F57FD; */
    background: url(/assets/img/header-background.jpg) no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #000;
}

body::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 0.8);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 255, 255, 1);
}

